
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand">Youtube Downloaderrr</a>
            <form  action="{{ url_for('list') }}" method="post" id="form" class="m-auto">
                <input class="form-control mr-sm-2" id="input-link" name = "input-link" type="search" placeholder="Paste Video or Playlist URL Here" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search-button" type="submit">Search</button> 
            </form>   
            <button class="btn btn-outline-success my-2 my-sm-0 hide" id="download-button">Download All</button> 
 
    </nav>

